.debug-view-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 60vw;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 1vh;
    padding: 1.5vh 1.5vw;
    border-radius: 10px;

    border: 1px solid var(--background-tertiary);
    border-bottom-width: 3px;

    color: var(--font-color-primary);
    background-color: var(--background-secondary);
}

.debug-view-header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: 28px;
    font-weight: 550;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.debug-view-header-logo {
    height: 25px;
    margin-right: 5px;
}

.debug-view-header-button-bar {
    width: 10vw;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.debug-view-header-button-bar-left {
    margin-right: auto;
    justify-content: start;
}

.debug-view-header-button-bar-right {
    margin-left: auto;
    justify-content: end;
}

.debug-view-header-button {
    color: var(--font-color-primary);
    font-size: 20px;
}

.debug-view-header-button:hover {
    color: var(--font-color-tertiary);
}

[data-theme="dark"] .debug-view-header-button:hover {
    color: var(--background-tertiary-60);
}


.debug-view-body {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-between;

    height: 100%;
    width: 100%;

    box-sizing: border-box;

    padding: 2vh 1vw;
    gap: 1.25vw;

    overflow: auto;
}

.tab-and-tree-view-container {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    
    width: 100%;
    min-width: 0;
}

.debug-view-page {
    box-sizing: border-box;
    padding-top: 10px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.debug-view-button-bar {    
    position: sticky;  
    top: 0px;
    left: 0px;  
    right: 0px;

    box-sizing: border-box;
    width: 100%;
    height: 10%;
    padding: 2vh 1.6vw;

    z-index: 1;
    
    font-size: 22px;

    overflow: hidden;
}

.debug-view-left-button-bar {
    float: left;

    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    height: 100%;
}

.debug-view-select-button-bar {
    float: left;

    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    height: 100%;

    margin-left: 10px;
}

.debug-view-right-button-bar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: center;
    
    gap: 18px;
    
    float: right;
    height: 100%;
}

.debug-view-button {
    cursor: pointer;
    color: var(--background-tertiary);
}

.debug-view-button:disabled {
    color: var(--background-tertiary-40) !important;
}

.debug-view-button:not(:disabled):hover {
    color: var(--font-color-quaternary);
}

[data-theme="dark"] .debug-view-button:not(:disabled):hover {
    color: var(--background-tertiary-60);
}

.debug-view-select-button {
    overflow: hidden;
    cursor: pointer;
    transition: color 0.5s;
    
    color: var(--font-color-tertiary);
    border: 1px solid var(--background-tertiary);
    border-bottom-width: 2px;
    border-radius: 15px;

    margin-left: 6px;
    padding-inline: 7px;
    padding-block: 4px;
}

.debug-view-select-button:disabled {
    color: var(--background-tertiary-60) !important;
    background-color: var(--background-primary) !important;
}

.debug-view-select-button:not(:disabled):hover {
    color: var(--font-color-quaternary) !important;
    background-color: var(--background-tertiary-60) !important;
}

.debug-view-select-button.selected {
    color: var(--background-secondary);
    background-color: var(--background-tertiary);
}

.debug-view-expand-button {
    width: 0;
    white-space: nowrap;
    
    margin-left: 0px;
    
    font-size: 16px;
    
    transition: margin-left 0.5s;
    transition: width 0.5s;
    overflow: hidden;
}

.debug-view-button-sep {
    border-right: 2px solid var(--font-color-tertiary);
    height: 100%;
}

.debug-view-button-settings {
    margin-right: 15px;
}

.debug-view-button-breakpoint-skip {
    color: var(--font-color-debug);
}

.debug-view-button-breakpoint-skip:hover {
    color: var(--font-color-warning) !important;
}

.debug-view-expand-tree.expanded {
    width: 90px;
}

.debug-view-expand-input.expanded {
    width: 100px;
}

.debug-view-expand-code.expanded {
    width: 100px;
}
