.debug-view-header {
    display: grid;
    columns: 3;
    padding-inline: 20px;
    padding-block: 10px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10px;
    align-items: center;
}

.debug-view-header-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.debug-view-header-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.debug-view-header-left {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.debug-view-header-left-container {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    text-wrap: nowrap;
    align-items: center;
}

.debug-view-header-left-vbar {
    width: 0.5px;
    height: 40px;
    border: 1px solid var(--font-color-primary);
    background-color: var(--font-color-primary);
    margin-inline: 20px;
    margin-block: auto;
}

.tab-bar {
    height: 30px;
    max-width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: 20px;
    margin-right: 20px;
}

.tab-button {
    padding-inline: 5px;
    margin: 0;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--background-tertiary);
    border-color: var(--background-tertiary);
    box-shadow: none;
}

.tab-button:hover {
    background-color: var(--background-tertiary-60);
}

.tab-button.selected {
    background-color: var(--background-tertiary-20);
    font-weight: bold;
}

.close-tab-button {
    background-color: var(--background-tertiary)
}

.close-tab-button:hover {
    background-color: var(--background-tertiary-60);
}


.debug-view-page {
    box-sizing: border-box;
    padding: 30px;
    padding-top: 10px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}