.popup {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /* top: 50vh;
    right: 50vw;
    transform: translateX(50%);
*/    
    width: 20vw;
    height: 10vh;
    margin: auto; 
    display: inline-block;
    background-color: var(--background-tertiary);
    cursor: pointer;
    /* filter: drop-shadow(0px 0px 7px #000000); */
    filter: drop-shadow(5px 5px 8px #000000);
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    padding: 5vh 5vw;
    border-style: solid;
    border-radius: 10px;
}

.popup.warning {
    border-color: var(--font-color-warning);
}

.popup.error {
    border-color: var(--font-color-error);
}

.popup-text {
    color: white;
}