.settings-sidepanel-container {
    width: 25vw;
    padding-top: 10px;
    padding-left: 20px;

    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    background: transparent;


    z-index: 1000;
    transform: translateX(-25vw); /* Completely hidden initially */
    transition: transform 0.75s ease-in-out;
}

.settings-sidepanel-container.open {
    transform: translateX(0);
}

.settings-sidepanel {
    width: 50vw;
    max-width: 600px;
    height: 80vh;
    padding: 3vh 3vw;

    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;

    background: var(--background-secondary);

    border: 2px solid var(--font-color-tertiary);
    border-radius: 20px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.settings-header {
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 1.5vh;
}

.settings-header h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0 auto;
}

.settings-content {
    display: grid;
    columns: 3;
    width: 100%;
    padding: 1vh 0;
}

.single-setting-top-container {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    justify-content: space-between;
    margin-bottom: 5px;
}

.single-setting-name-container {
    padding: 5px;
}

.single-setting-name-container.underlined {
    text-decoration: underline;
}

.single-setting-modify-container {
    border-radius: 5px;
    background-color: transparent;
    padding: 2px 5px;
}

.single-setting-info-text {
    padding: 15px;
    background-color: var(--background-tertiary);
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 10px;
    position: sticky;
}

.settings-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
    gap: 20px;
}

.apply-settings-button,
.default-settings-button {
    width: 50%;
    background: var(--font-color-primary);
    padding: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--background-primary);

    border: none;
    border-radius: 8px;

    cursor: pointer;

    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

.apply-settings-button:hover,
.default-settings-button:hover {
    background: var(--font-color-secondary);
}