.settings-content {
    padding: 1vh 0;
}

.single-setting-container {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    justify-content: space-between;
    margin-bottom: 5px;
}

.single-setting-name {
    padding: 5px;
}

.single-setting-container input {
    margin: 0.3rem 0;
    padding: 0.5rem 0.6rem;
    font-size: 0.9rem;
    
    height: 1rem;
    width: 5rem;

    padding: 4px 8px;
    font-size: 0.9rem;
  
    border: 1px solid var(--font-color-tertiary);
    border-radius: 5px;
  
    outline: none;

    appearance: textfield;
    -moz-appearance: textfield; 
}

.single-setting-container input:focus {
    border-color: var(--font-color-secondary);
}

.single-setting-container input::-webkit-outer-spin-button,
.single-setting-container input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
