.state-contents {
    padding: 1vh 0;
    
    display: flex;
    flex-direction: column;
    align-content: stretch;
    gap: 2vh;

    margin-bottom: 2vh;

    overflow-y: auto;
}

.ref-container {
    display: flex;
    flex-direction: column;
    gap: 6px;

    /* Subtle background and border around each reference item */
    color: var(--font-color-primary);
    background-color: var(--background-primary);
    border: 1px solid var(--font-color-tertiary);
    border-radius: 8px;

    padding: 8px 12px;
    font-size: 0.9rem;
}

.ref-container:hover {
    background: var(--background-tertiary-20);
}

.ref-title {
    font-weight: 600;
    font-size: large;
    color: var(--font-color-primary);

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
}

.ref-value {
    font-style: italic;
}

.ref-container input {
    margin: 0.3rem 0;
    padding: 0.5rem 0.6rem;
    font-size: 0.9rem;
  
    border: 1px solid var(--font-color-tertiary);
    border-radius: 5px;
  
    color: var(--font-color-tertiary);
    background-color: var(--background-secondary);

    appearance: textfield;
    -moz-appearance: textfield; 

    outline: none;
}

.ref-container input:focus {
    border-color: var(--font-color-primary);
}

.ref-container input::-webkit-outer-spin-button,
.ref-container input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
