.tab-bar {
    position: relative;
    top: 1px;

    max-width: 100%;
    width: fit-content;
    
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: flex-end;
    justify-content: flex-start;

    margin-left: 20px;
    margin-right: 20px;
    
    overflow-x: auto;
    overflow-y: hidden;

    flex-wrap: nowrap;
    white-space: nowrap;
}


.tab-button {
    margin: 0;
    padding-left: 15px;
    padding-right: 12px;
    padding-block: 2px;
    padding-top: 4px;
    padding-bottom: 7px; /* Do not reduce - causes border corners to mismatch */
    
    border: 1px solid transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    color: var(--font-color-primary);
    background-color: var(--background-secondary);   
    
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    white-space: nowrap;

    align-items: center;
    justify-content: space-between;
}

.tab-button:hover {
    color: var(--background-secondary);
    background-color: var(--background-tertiary);
}

.tab-button.selected {
    position: relative;
    z-index: 10;

    border-color: var(--background-tertiary);
    border-bottom-color: transparent;
}

.highlight-debug-session .tab-button.selected {
    border-color: var(--font-color-debug);
    border-bottom-color: transparent;
}

[data-theme="dark"] .highlight-debug-session .tab-button.selected {
    color: var(--font-color-debug);
}


.highlight-debug-session .tab-button.selected:hover {
    background-color: var(--font-color-debug);
    color: var(--font-color-quaternary);
}



.close-tab-button {
    height: inherit;

    padding: 0;
    margin: auto;
    margin-left: 10px;
    border: none;
    border-radius: 0;
    
    background-color: transparent;
    box-shadow: none;
}

.close-tab-button:hover {
    color: var(--font-color-error);
}