.tab-bar {
    max-width: 100%;
    
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: flex-end;
    justify-content: flex-start;

    margin-left: 20px;
    margin-right: 20px;
    
    overflow-x: auto;
    overflow-y: hidden;

    flex-wrap: nowrap;
    white-space: nowrap;
}

.tab-button {
    margin: 0;
    margin-bottom: -2px;
    padding-left: 15px;
    padding-right: 12px;
    padding-block: 2px;
    font-size: 15px;

    border: 2px solid var(--font-color-tertiary);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    color: var(--background-secondary);
    background-color: var(--background-tertiary-60);
    
    cursor: pointer;
    white-space: nowrap;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.tab-button:hover {
    color: var(--background-secondary);
    background-color: var(--background-tertiary-40);
}

.tab-button.selected {
    color: var(--font-color-tertiary);
    background-color: var(--background-secondary); 
    z-index: 1;
}

.close-tab-button {
    height: inherit;

    margin: auto;
    margin-left: 8px;
    
    padding: 0;
    
    border: none;
    border-radius: 0;
    
    background-color: transparent;
    box-shadow: none;
}

.close-tab-button:hover {
    transform: scale(1.1);
}