.tab-bar {
    position: relative;
    top: 2px;

    max-width: 100%;
    width: fit-content;
    
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: flex-end;
    justify-content: flex-start;

    margin-left: 20px;
    margin-right: 20px;
    
    overflow-x: auto;
    overflow-y: hidden;

    flex-wrap: nowrap;
    white-space: nowrap;
}


.tab-button {
    margin: 0;
    padding-left: 15px;
    padding-right: 12px;
    padding-block: 2px;
    padding-bottom: 6px;
    
    border: 2px solid transparent;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    color: var(--font-color-tertiary);
    background-color: var(--background-secondary);   
    
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    white-space: nowrap;

    align-items: center;
    justify-content: space-between;
}

.tab-button:hover {
    color: var(--background-secondary);
    background-color: var(--background-tertiary);
}

.tab-button.selected {
    position: relative;
    z-index: 10;

    border: 2px solid var(--background-tertiary);
}

.highlight-debug-session .tab-button.selected {
    border-color: var(--font-color-debug);
}


.close-tab-button {
    height: inherit;

    margin: auto;
    margin-left: 8px;
    
    padding: 0;
    
    border: none;
    border-radius: 0;
    
    background-color: transparent;
    box-shadow: none;
}

.close-tab-button:hover {
    transform: scale(1.1);
}