.tree-view-page {
    z-index: 1;

    box-sizing: border-box;
    overflow: hidden;

    height: 100%;
    width: 100%;

    border-radius: 20px;
    border: 2px solid transparent;
    
    background-color: var(--background-secondary);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.has-tabs .tree-view-page {
    border-top: 2px solid var(--background-tertiary);
}

.highlight-debug-session .tree-view-page {
    border-top-color: var(--font-color-debug);
}


.tree-view-page-scroll {
    box-sizing: border-box;
    
    height: 90%;
    width: 100%;
    
    overflow: auto;
}


.zoom-container {
    transform-origin: left top;
    width: fit-content;
    height: fit-content;
    margin: auto;
}