.tree-view-page {
    box-sizing: border-box;
    
    height: 100%;
    width: 100%;
    
    border-radius: 20px;
    border: 2px solid transparent;
    background-color: var(--background-secondary);

    padding: 2vh 2vw;
    
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

    overflow: auto;
}

.zoom-container {
    transform-origin: left top;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.tree-view-page.highlight-debug-session {
    animation: borderColorDebugAnim 1.8s infinite alternate ease-in !important;
}

@keyframes borderColorDebugAnim {
    from { }
    to {
        border-color: var(--font-color-debug);
    }
}