.tree-view-page {
    z-index: 1;

    box-sizing: border-box;
    overflow: hidden;

    height: 100%;
    width: 100%;

    border-radius: 20px;
    border: 1px solid var(--background-tertiary);
    border-bottom-width: 3px;

    background-color: var(--background-secondary);
    box-shadow: 0 4px 13px rgba(0, 0, 0, 0.2);
}

.has-tabs .tree-view-page {
    border-color: var(--background-tertiary);
}

.highlight-debug-session .tree-view-page {
    border-color: var(--font-color-debug);
}


.tree-view-page-scroll {
    box-sizing: border-box;
    
    height: 90%;
    width: 100%;
    
    overflow: auto;
}


.zoom-container {
    transform-origin: left top;
    width: fit-content;
    height: fit-content;
    margin: auto;

    padding-right: 1.5vw;
    padding-bottom: 3vh;

    overflow: hidden;
}