:root {
  --background-primary: rgb(36, 37, 38);
  --background-secondary: rgb(46, 47, 48);
  --background-primary-60: #96dec499;
  --background-primary-20: #96dec433;
  --font-color-primary: #96DEC4;
  --font-color-secondary: rgb(36, 37, 38);
  --font-family: Righteous, Verdana, Geneva, Tahoma, sans-serif;
}

[data-theme="light"] {
  --background-primary: rgb(150, 222, 196);
  --background-primary-60: rgba(36, 37, 38, 0.6);
  --background-primary-20: rgba(36, 37, 38, 0.2);
  --background-secondary: rgb(184, 238, 218);
  --font-color-primary: rgb(36, 37, 38);
  --font-color-secondary: #96DEC4;
}

body {
  background-color: var(--background-primary);
  color: var(--font-color-primary);
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}