@import url('frontend/styles/pages/debug-view.css');
@import url('frontend/styles/pages/tree-view.css');
@import url('frontend/styles/pages/error-popup.css');
@import url('frontend/styles/pages/tab-bar.css');
@import url('frontend/styles/displays/debug-tree.css');
@import url('frontend/styles/icons/bootstrap-icons.min.css');

@font-face {
    font-family: "bootstrap-icons";
    src: url("frontend/styles/icons/bootstrap-icons.woff2") format("woff2");
    font-display: block;
}

:root {
    --background-primary: #242526;          /* Dark grey. */
    --background-secondary: #2E2F30;        /* Grey. */
    --background-secondary-hover: #525252;  /* Lighter Grey. */
    --background-tertiary: #96DEC4;         /* Parsley green 60% transparency. */
    --background-tertiary-60: color-mix(in srgb, var(--background-tertiary) 60%, transparent);    /* Parsley green 60% transparency. */
    --background-tertiary-40: color-mix(in srgb, var(--background-tertiary) 40%, transparent);    /* Parsley green 40% transparency. */
    --background-tertiary-20: color-mix(in srgb, var(--background-tertiary) 20%, transparent);    /* Parsley green 20% transparency. */
    --font-color-primary: #96DEC4;          /* Parsley green. */
    --font-color-secondary: #242526;        /* Dark grey. */
    --font-color-tertiary: #96DEC4;         /* Parsley green. */
    --font-color-quaternary: #242526;       /* Parsley green. */
    --font-color-error: #D2042D;            /* Red error. */
    --font-color-no-tree: #3c4b46a3;        /* Dark green. */
    --font-family: Righteous, Verdana, Geneva, Tahoma, sans-serif; 

    --node-color: #242526;
    --node-color-fail: var(--node-color);
    --node-color-iterative: var(--node-color);

    --node-font-color: #96DEC4;
    --node-font-color-fail: #FFA3A3;
    --node-font-color-iterative: #a3d6ff;
}

[data-theme="light"] {
    --background-primary: #F3F3F3;          /* Light grey. */
    --background-secondary: #FFFFFF;        /* White. */
    --background-secondary-hover: #e1e1e1;  /* White. */
    --background-tertiary: #7eb9a6;         /* Light green. */
    --background-tertiary-60: color-mix(in srgb, var(--background-tertiary) 60%, transparent); /* Light green 60% transparency. */
    --background-tertiary-40: color-mix(in srgb, var(--background-tertiary) 40%, transparent); /* Light green 40% transparency. */
    --background-tertiary-20: color-mix(in srgb, var(--background-tertiary) 20%, transparent); /* Light green 20% transparency. */
    --font-color-primary: #1F3D34;      /* Dark green. */
    --font-color-secondary: #7EB9A6;    /* Lighter green. */
    --font-color-tertiary: #7EB9A6;     /* Lighter green. */
    --font-color-quaternary: #1F3D34;   /* Parsley green. */
    --font-color-error: #fd4659;        /* Red error. */
    --font-color-no-tree: #bde3d8;      /* Light green. */
    
    --node-color: #96dec499;
    --node-color-fail: #FFA3A3;
    --node-color-iterative: #a3d6ff;

    --node-font-color: #2E2F30;
    --node-font-color-fail: var(--node-font-color);
    --node-font-color-iterative: var(--node-font-color);
}

body {
    background-color: var(--background-primary);
    color: var(--font-color-primary);
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    transition: color 0.5s;
    transition: background-color 0.5s;
}

a {
    color: inherit;
}

button {
    all: inherit;
}