@import url('frontend/styles/pages/debug-view.css');
@import url('frontend/styles/pages/tree-view.css');
@import url('frontend/styles/pages/tab-bar.css');
@import url('frontend/styles/displays/debug-tree.css');

:root {
    --background-primary: #242526;	        /* Dark grey. */
    --background-secondary: #2e2f30;	    /* Grey. */
    --background-tertiary: #96dec4;	    /* Parsley green 60% transparency. */
    --background-tertiary-60: #96dec499;	/* Parsley green 60% transparency. */
    --background-tertiary-40: #96dec466;	/* Parsley green 20% transparency. */
    --background-tertiary-20: #96dec433;	/* Parsley green 20% transparency. */
    --tab: #8fe4c5;                        /* Tab green */
    --tab-hover: #6DAD96;                  /* 5% lighter tab */
    --tab-selected: #64E3B4;               /* 10% lighter tab */
    --font-color-primary: #96DEC4;	        /* Parsley green. */
    --font-color-secondary: #242526;	    /* Dark grey. */
    --font-color-error: #d2042d;	        /* Red error. */
    --font-family: Righteous, Verdana, Geneva, Tahoma, sans-serif;
}

[data-theme="light"] {
    --background-primary: #d9eae3;	        /* Greenish white. */
    --background-secondary: #F3F3F3;	    /* Light grey. */
    --background-tertiary: #242526;	    /* Grey 60% transparency. */
    --background-tertiary-60: #24252699;	/* Grey 60% transparency. */
    --background-tertiary-40: #4a4c4f66;	/* Grey 60% transparency. */
    --background-tertiary-20: #24252633;	/* Grey 20% transparancy. */
    --tab: #3e4041;                        /* Tab green */
    --tab-hover: #5a5e60;                  /* 5% lighter tab */
    --tab-selected: #242526;               /* 10% lighter tab */
    --font-color-primary: #026413;	        /* Dark green. */
    --font-color-secondary: #d3ffda;	    /* Lighter green. */
    --font-color-error: #fd4659;	        /* Red error. */
}

body {
    background-color: var(--background-primary);
    color: var(--font-color-primary);
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}