.debug-input-page {
    padding-left: 3vw;
    padding-right: 2vw;
    max-width: 70vw;
    height: 100%;
    margin: 20px auto;
}

.debug-input-container {
    box-sizing: border-box;

    width: 100%;
    max-height: 70vh;
    
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 5px;

    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 14px;
    padding-right: 18px;
    
    border-left: 5px solid var(--font-color-tertiary);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
    text-align: left;
    line-height: 32px;
    word-wrap: break-word;
    
    overflow-x: hidden;
    overflow-y: auto;

    background-color: var(--input-background);
}

.debug-input {
    cursor: default;

    font-size: 16px;
    font-weight: normal;
    
    padding-inline: 2px;
    padding-bottom: 4px;
    margin-inline: 2px;
    
    box-decoration-break: clone;
    
    outline-width: 2px !important;
    
    border: 1px solid;
    border-bottom-width: 2px;
    border-radius: 5px;
    
    color: var(--input-unselected);
    border-color: var(--input-unselected);
    background-color: var(--background-secondary);
}

.debug-input-container:hover:has(.debug-input.selected:not(:hover)) .debug-input:not(.selected) {
    background-color: var(--input-unselected-hover);
}

[data-theme="light"] {
    .debug-input {
        color: var(--font-color-primary);
        border-color: var(--font-color-primary);
    }
}

.debug-input.selected {
    margin-inline: 4px;
    line-height: 36px;
}

.debug-input.empty.fail.selected i, .debug-input.empty.debug.selected i {
    font-size: 12px;
}


/* Render stateful refs */
.debug-tree-refs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    margin: 20px;

    border-radius: 15px;
    color: var(--node-font-color-debug);
    background-color: var(--node-color-debug);
    border: 2px solid var(--node-font-color-debug);
    border-bottom-width: 4px;
}

.debug-tree-ref:not(:last-child) {
    border-right: 2px solid var(--node-font-color-debug);
}

.debug-tree-ref {
    text-align: center;
    padding: 0.15vh 1vw;
    margin: 1.5vh 0; 
}


/* Container of debug tree */
.debug-tree-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: safe center;     /* Requires Safari 17.6+ for MacOS devices */
    padding-top: 3px;             /* Add padding to avoid cutting off selected node outline */
}


/* Contain node and all subsequent children */
.debug-node-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


/* Render box around self-contained named parser */
.debug-node-container.type-box {
    position: relative;
    top: 10px;
    
    padding: 15px 8px;
    
    margin: 10px;

    height: fit-content;

    border-style: dashed;
    border-radius: 10px;
    border-color: var(--node-font-color);
    
    color: var(--node-font-color);
}

.debug-node-container.fail.type-box {
    color: var(--node-font-color-fail) !important;
    border-color: var(--node-font-color-fail) !important;
}

.debug-node-container.iterative.type-box {
    color: var(--node-font-color-iterative);
    border-color: var(--node-font-color-iterative);
}

.debug-node-container.debug.type-box {
    color: var(--node-font-color-debug);
    border-color: var(--node-font-color-debug);
}

.debug-node-container.type-box > .type-box-name {
    position: absolute;
    top: -13px;
    padding: 0px 5px;
    align-self: center;

    font-weight: bold;
    background-color: var(--background-secondary);
}



/* Line connecting node child to parent */
.debug-node-line {
    align-self: center;
    width: 4px;
    height: 15px;
    background-color: var(--node-font-color);
}

.debug-node-container.fail > .debug-node-children-container > .debug-node-container > .debug-node-line {
    background-color: var(--node-font-color-fail) !important;
}

.debug-node-container.iterative > .debug-node-children-container > .debug-node-container > .debug-node-line {
    background-color: var(--node-font-color-iterative);
}

.debug-node-container.debug > .debug-node-children-container > .debug-node-container > .debug-node-line {
    background-color: var(--node-font-color-debug);
}

/* No node-line displayed on the first node */
.debug-tree-container:first-child > .debug-node-container > .debug-node-line {
    display: none !important;
}

/* Move .debug-node-line above .type-box */
.debug-node-container.type-box > .debug-node-line {
    position: absolute;
    top: -23px;
    height: 18px !important;
    z-index: -1;
}



/* Debug tree node information */
.debug-node {
    position: relative;
    z-index: 1;
    
    padding: 10px;
    margin: 0px 5px;

    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-bottom-width: 4px;
    
    color: var(--node-font-color);
    border-color: var(--node-font-color);
    background-color: var(--node-color);
    
    text-align: center;
    width: auto;
    cursor: pointer;
    transition: all 0.5s;
    transition: border 0s !important;
}

.debug-node-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.debug-node-iterative-child-text {
    font-size: 10px;
    margin-bottom: -5px;
    margin-top: 5px;
}

/* On hover of expandable (i.e., not leaf) nodes, darken */
.debug-node:hover {
    background-color: var(--node-hover-color);
}

/* Failed nodes are red */
.debug-node-container.fail:not(.selected) > div > .debug-node {
    color: var(--node-font-color-fail);
    border-color: var(--node-font-color-fail);
    background-color: var(--node-color-fail);
}

.debug-node-container.fail:not(.selected) > div > .debug-node:hover {
    background-color: var(--node-hover-color-fail);
}

/* Iterative nodes are blue */
.debug-node-container.iterative:not(.fail):not(.selected) > div > .debug-node {
    color: var(--node-font-color-iterative);
    border-color: var(--node-font-color-iterative);
    background-color: var(--node-color-iterative);
}

.debug-node-container.iterative:not(.fail):not(.selected) > div > .debug-node:hover {
    background-color: var(--node-hover-color-iterative);
}

/* Debug nodes are orange */
.debug-node-container.debug:not(.selected) > div > .debug-node {
    color: var(--node-font-color-debug);
    border-color: var(--node-font-color-debug);
    background-color: var(--node-color-debug);
}

.debug-node-container.debug:not(.selected) > div > .debug-node:hover {
    background-color: var(--node-hover-color-debug);
}

/* Invert theme on selected nodes and add extra outline */
.debug-input.selected,
.debug-node-container.selected > div > .debug-node {
    outline: 3px solid var(--node-color-selected);
    color: var(--node-font-color-selected);
    border-color: var(--node-font-color-selected);
    background-color: var(--node-color-selected);
}

.debug-input.selected:hover,
.debug-node-container.selected > div > .debug-node:hover {
    background-color: var(--node-hover-color-selected);
}

.debug-input.fail.selected,
.debug-node-container.fail.selected > div > .debug-node {
    outline-color: var(--node-color-fail-selected);  
    color: var(--node-font-color-fail-selected);
    border-color: var(--node-font-color-fail-selected);
    background-color: var(--node-color-fail-selected);
}

.debug-input.fail.selected:hover,
.debug-node-container.fail.selected > div > .debug-node:hover {
    background-color: var(--node-hover-color-fail-selected);
}

.debug-input.iterative:not(.fail).selected,
.debug-node-container.iterative:not(.fail).selected > div > .debug-node {
    outline-color: var(--node-color-iterative-selected);  
    color: var(--node-font-color-iterative-selected);
    border-color: var(--node-font-color-iterative-selected);
    background-color: var(--node-color-iterative-selected);
}

.debug-input.iterative:not(.fail).selected:hover,
.debug-node-container.iterative:not(.fail).selected > div > .debug-node:hover {
    background-color: var(--node-hover-color-iterative-selected);
}

.debug-input.debug.selected,
.debug-node-container.debug.selected > div > .debug-node {
    outline-color: var(--node-color-debug-selected);
    color: var(--node-font-color-debug-selected);
    border-color: var(--node-font-color-debug-selected);
    background-color: var(--node-color-debug-selected);
}

.debug-input.debug.selected:hover,
.debug-node-container.debug.selected > div > .debug-node:hover {
    background-color: var(--node-hover-color-debug-selected);
}

/* Add extra width to node lines connected to selected node */  
.debug-node-container.selected > .debug-node-line,
.debug-node-container.selected > .debug-node-children-container > .debug-node-container > .debug-node-line {
    padding-inline: 1px;
}

/* Set bottom border of leaf equal to other borders */
.debug-node-container.leaf > div > .debug-node {
    border-bottom-width: 2px !important;
    cursor: default !important;
}

/* Bar rendered below leaf nodes to indicate no more nodes */
.debug-node-container.leaf > .leaf-line {
    width: inherit;
    height: 2px;
    margin: 3px 10px 0px 10px;
    
    border-radius: 10px;
    background-color: var(--node-font-color);
}

/* Move leaf line to avoid clashing with selected outline */
.debug-node-container.selected.leaf > .leaf-line {
    position: relative;
    top: 3px;
}

.debug-node-container.fail.leaf > .leaf-line {
    background-color: var(--node-font-color-fail);
}

.debug-node-container.debug.leaf > .leaf-line {
    background-color: var(--node-font-color-debug);
}


/* Ellipsis rendered below compressed nodes to indicate more nodes available */
.debug-node-container > .compress-ellipsis {
    position: relative;
    bottom: 4px;
    
    font-size: large;
    text-align: center;

    color: var(--node-font-color);
}

.debug-node-container.fail > .compress-ellipsis {
    color: var(--node-font-color-fail);
}

.debug-node-container.iterative:not(.fail) > .compress-ellipsis {
    color: var(--node-font-color-iterative);
}

.debug-node-container.debug > .compress-ellipsis {
    color: var(--node-font-color-debug);
}


/* Wrap node's children in a flexbox */
.debug-node-children-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: auto;
    justify-content: space-evenly;
}


/* Iterative style */
.iterative-debug-node-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

/* Container for iterative buttons */
.iterative-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin: 0px 2px;
}

/* Arrow buttons for iterative nodes */
.iterative-button {
    background: none;
    color: var(--font-color-primary);

    box-shadow: none;
    cursor: pointer;
}

.iterative-button > i {
    font-size: 20px;
    color: color-mix(in srgb, var(--node-color-iterative), var(--font-color-primary) 30%);
}

.iterative-button:not(.facing-right) > i {
    rotate: 180deg;
}

.iterative-button > i:hover {
    color: var(--node-font-color-iterative);
}

/* The container for the iterative progress bar */
.iterative-progress-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 1px;

    margin: 10px;
    margin-bottom: 6px;
}

/* The iterative progress bar (dots) coloured faint blue */
.iterative-progress {
    font-size: 24px;
    line-height: 6px;
    color: color-mix(in srgb, var(--node-color-iterative), var(--font-color-primary) 30%);
}

/* If iterative node failed, colour iterative progress dots faint red */
.debug-node-container.fail > div > .debug-node .iterative-progress {
    color: color-mix(in srgb, var(--node-color-fail), var(--font-color-primary) 30%);
}

/* Additional effects on the bar (dots) when progress is being made */
.iterative-progress.fill {
    color: var(--font-color-iterative) !important;
}
