.debug-tree-display {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: auto;
    justify-content: flex-start;
    align-items: safe center; /* Requires Safari 17.6+ for MacOS devices */
}

.debug-tree-title {
    text-align: center;
    margin-bottom: 10px;
}

.debug-tree-node {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border-width: 2px;
    border-color: var(--font-color-primary);
    text-align: center;
    width: auto;
}

.debug-tree-node-success {
    border-style: solid;
    color: var(--font-color-secondary);
    background-color: var(--background-tertiary-60);
}

.debug-tree-node-fail {
    border-style: dashed;
    background-color: var(--background-tertiary-20);
}

.debug-tree-node-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: auto;
    justify-content: space-evenly;
}

.debug-tree-node-button {
    border-radius: 5px;
    padding-inline: 10px;
    padding-block: 3px;
    margin-top: 7px;
    font-size: 10px;
    font-weight: bold;
    border: 1px solid var(--font-color-primary);
    transition: all 0.5s;
    cursor: pointer;
}

.debug-tree-node-button-compress {
    color: var(--font-color-secondary);
    background-color: var(--background-tertiary);
}

.debug-tree-node-button-expand {
    color: var(--font-color-secondary);
    background-color: var(--background-tertiary-60);
}

.debug-tree-node-button:hover {
    color: var(--font-color-secondary);
    background-color: var(--background-tertiary);
}

.debug-tree-node-type-box {
    position: relative;
    padding: 10px;
    top: 5px;
    border-style: dashed;
    border-radius: 10px;
}

.debug-tree-node-type-name {
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--background-secondary);
    padding: 0 5px;
    font-weight: bold;
}

.debug-tree-node-name {
    font-weight: bold;
    margin-bottom: 5px;
}