.debug-tree-display {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: safe center;     /* Requires Safari 17.6+ for MacOS devices */
}

.debug-input-main-view {
    text-align: left;
    width: 100%;
    padding-inline: 10px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
}

.code-text {
    width: fit-content;
}

/* Container of debug tree */
.debug-tree-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: safe center;     /* Requires Safari 17.6+ for MacOS devices */
}


/* Contain node and all subsequent children */
.debug-node-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


/* Render box around self-contained named parser */
.debug-node-container.type-box {
    position: relative;
    top: 10px;
    
    padding: 15px 8px;
    
    margin: 10px;

    height: fit-content;

    border-style: dashed;
    border-radius: 10px;
    border-color: var(--node-font-color);
    
    color: var(--node-font-color);
}

.debug-node-container.fail.type-box {
    color: var(--node-font-color-fail) !important;
    border-color: var(--node-font-color-fail) !important;
}

.debug-node-container.iterative.type-box {
    color: var(--node-font-color-iterative);
    border-color: var(--node-font-color-iterative);
}

.debug-node-container.debug.type-box {
    color: var(--node-font-color-debug);
    border-color: var(--node-font-color-debug);
}

.debug-node-container.type-box > .type-box-name {
    position: absolute;
    top: -13px;
    padding: 0px 5px;
    align-self: center;

    font-weight: bold;
    background-color: var(--background-secondary);
}



/* Line connecting node child to parent */
.debug-node-line {
    align-self: center;
    width: 4px;
    height: 15px;
    background-color: var(--node-font-color);
}

/* No node-line displayed on the first node */
.debug-tree-container:first-child > .debug-node-container > .debug-node-line {
    display: none !important;
}

/* Move .debug-node-line above .type-box */
.debug-node-container.type-box > .debug-node-line {
    position: absolute;
    top: -23px;
    height: 18px !important;
    z-index: -1;
}



/* Debug tree node information */
.debug-node {
    padding: 10px;
    margin: 0px 5px;

    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-bottom-width: 4px;
    
    color: var(--node-font-color);
    border-color: var(--node-font-color);
    background-color: var(--node-color);
    
    text-align: center;
    width: auto;
    cursor: pointer;
    transition: all 0.5s;
    transition: border 0s !important;
}

.debug-node-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.debug-node-iterative-child-text {
    font-size: 10px;
    margin-bottom: -5px;
    margin-top: 5px;
}

/* On hover of expandable (i.e., not leaf) nodes, darken */
.debug-node:hover {
    background-color: var(--node-hover-color);
}

/* Failed nodes are red */
.debug-node-container.fail > div > .debug-node {
    color: var(--node-font-color-fail) !important;
    border-color: var(--node-font-color-fail) !important;
    background-color: var(--node-color-fail) !important;
}

.debug-node-container.fail > div > .debug-node:hover {
    background-color: var(--node-hover-color-fail) !important;
}

/* Iterative nodes are blue */
.debug-node-container.iterative > div > .debug-node {
    color: var(--node-font-color-iterative);
    border-color: var(--node-font-color-iterative);
    background-color: var(--node-color-iterative);
}

.debug-node-container.iterative > div > .debug-node:hover {
    background-color: var(--node-hover-color-iterative);
}

/* Iterative nodes are blue */
.debug-node-container.debug > div > .debug-node {
    color: var(--node-font-color-debug);
    border-color: var(--node-font-color-debug);
    background-color: var(--node-color-debug);
}

.debug-node-container.debug > div > .debug-node:hover {
    background-color: var(--node-hover-color-debug);
}

/* Set bottom border of leaf equal to other borders */
.debug-node-container.leaf > div > .debug-node {
    border-bottom-width: 2px !important;
    cursor: default !important;
}

/* Bar rendered below leaf nodes to indicate no more nodes */
.debug-node-container.leaf > .leaf-line {
    width: inherit;
    height: 2px;
    margin: 3px 10px 0px 10px;
    
    border-radius: 10px;
    background-color: var(--node-font-color);
}

.debug-node-container.fail.leaf > .leaf-line {
    background-color: var(--node-font-color-fail);
}

.debug-node-container.debug.leaf > .leaf-line {
    background-color: var(--node-font-color-debug);
}


/* Ellipsis rendered below compressed nodes to indicate more nodes available */
.compress-ellipsis {
    position: relative;
    bottom: 4px;
    
    font-size: large;
    text-align: center;
}

/* Wrap node's children in a flexbox */
.debug-node-children-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: auto;
    justify-content: space-evenly;
}


/* Iterative style */
.iterative-debug-node-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

/* Container for iterative buttons */
.iterative-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin: 0px 2px;
}

/* Arrow buttons for iterative nodes */
.iterative-button {
    background: none;
    color: var(--font-color-primary);

    box-shadow: none;
    cursor: pointer;
}

.iterative-button > i {
    font-size: 20px;
    color: color-mix(in srgb, var(--node-color-iterative), var(--font-color-primary) 30%);
}

.iterative-button:not(.facing-right) > i {
    rotate: 180deg;
}

.iterative-button > i:hover {
    color: var(--node-font-color-iterative);
}

/* The container for the iterative progress bar */
.iterative-progress-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 1px;

    margin: 10px;
    margin-bottom: 6px;
}

/* The iterative progress bar (dots) itself */
.iterative-progress {
    font-size: 24px;
    line-height: 6px;
    color: color-mix(in srgb, var(--node-color-iterative), var(--font-color-primary) 30%);
}

/* Additional effects on the bar (dots) when progress is being made */
.iterative-progress.fill {
    color: var(--font-color-iterative);
}

.debug-node-container.recent > div > .debug-node {
    position: relative;
    outline: 1.5px solid var(--border-color-recent);
}
