.popup {
    display: flex;
    flex-direction: row;
    position: absolute;

    top: 50%;
    left: 15vw;
    right: 15vw;
    transform: translateY(-50%);

    margin: auto; 

    color: var(--font-color-primary);
    background-color: var(--background-primary);

    border-style: solid;
    border-radius: 10px;

    overflow-y: fill;

    padding: 5vh 30px 5vh;

    z-index: 5;
    
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    overflow: auto;
}

.popup-icon-container {
    font-size: 3vw;
    box-shadow: none !important;
}

.popup-header {
    font-size: 1.5vw;
    margin-bottom: 1vh;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
    padding-left: 2vw;
}

.popup-text {
    font-size: 1.2vw;
    max-height: 12vh;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 2vw;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    color: rgb(from var(--font-color-primary) r g b / 0.8);
}

.popup-icon-container.warning {
    color: var(--font-color-warning);
    box-shadow: 0 0 10px rgb(from var(--font-color-warning) r g b);
}

.popup.warning {
    border-color: var(--font-color-warning);
    background-image: linear-gradient(to bottom, rgb(from var(--font-color-warning) r g b / 0.17), rgb(from var(--font-color-warning) r g b / 0.01));
}

.popup-icon-container.error {
    color: var(--font-color-error);
    box-shadow: 0 0 10px rgb(from var(--font-color-error) r g b / 0.3);
}

.popup.error {
    border-color: var(--font-color-error);
    background-image: linear-gradient(to bottom, rgb(from var(--font-color-error) r g b / 0.17), rgb(from var(--font-color-error) r g b / 0.01));
}